@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color Palette */
  --color-primary: #111111;
  --color-secondary: #444444;
  --color-accent: #5B21B6;

  /* Typography Scale */
  --font-main: "Inter", sans-serif;
  --h1-size: 2.5rem;
  --h2-size: 2rem;
  --h3-size: 1.5rem;
  --p-size: 1rem;
}

/* Global style fixes */
body {
  font-family: var(--font-main);
  background-color: #fafafa;
  scroll-behavior: smooth;
}
